<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isShowFooter</key>
		<false/>
		<key>footerTitle</key>
		<string></string>
		<key>headerTitle</key>
		<string></string>
		<key>section</key>
		<integer>0</integer>
		<key>isDelete</key>
		<false/>
		<key>itemsArr</key>
		<array>
			<dict>
				<key>isEmpty</key>
				<true/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<true/>
				<key>isEdit</key>
				<false/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>手机号</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
			</dict>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<true/>
				<key>isEdit</key>
				<false/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>修改密码</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
