<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isShowFooter</key>
		<false/>
		<key>footerTitle</key>
		<string></string>
		<key>headerTitle</key>
		<string></string>
		<key>section</key>
		<integer>0</integer>
		<key>isDelete</key>
		<false/>
		<key>itemsArr</key>
		<array>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>持卡人姓名</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入持卡人姓名</string>
				<key>keyBordType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>身份证号码</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入持卡人身份证号码</string>
				<key>keyBordType</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>银行账号</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入银行账号，仅支持储蓄卡</string>
				<key>keyBordType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>开户银行</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入开户银行</string>
				<key>keyBordType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>预留手机</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入银行预留手机号码</string>
				<key>keyBordType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
