<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isShowFooter</key>
		<false/>
		<key>footerTitle</key>
		<string></string>
		<key>headerTitle</key>
		<string>验证本人身份</string>
		<key>section</key>
		<integer>0</integer>
		<key>isDelete</key>
		<false/>
		<key>itemsArr</key>
		<array>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>姓名</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入完整姓名</string>
				<key>keyBordType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>身份证</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入身份证号码</string>
				<key>keyBordType</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isShowFooter</key>
		<false/>
		<key>footerTitle</key>
		<string></string>
		<key>headerTitle</key>
		<string>请输入持卡人本人的银行卡号</string>
		<key>section</key>
		<integer>1</integer>
		<key>isDelete</key>
		<false/>
		<key>itemsArr</key>
		<array>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>卡号</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入完整卡号</string>
				<key>keyBordType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isEmpty</key>
				<false/>
				<key>textColor</key>
				<real>8421504</real>
				<key>isShowArrow</key>
				<false/>
				<key>isEdit</key>
				<true/>
				<key>isNeed</key>
				<integer>0</integer>
				<key>title</key>
				<string>手机号</string>
				<key>text</key>
				<string></string>
				<key>placeholder</key>
				<string>请输入银行卡预留手机号码</string>
				<key>keyBordType</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
